<div class="slider">
    <div class="slide-track">
        <img src="../../../assets/diseños/backroomdifinitiva.jpg" class="slide" alt="PlayboiCarti image">
        <img src="../../../assets/diseños/bueno.jpg" class="slide" alt="Alavro Diaz image">
        <img src="../../../assets/diseños/carti2prueba.jpg" class="slide" alt="PlayboiCarti image">
        <img src="../../../assets/diseños/feid_paris.jpg" class="slide"  alt="Feid image">
        <img src="../../../assets/diseños/carti3prueba.jpg" class="slide" alt="PlayboiCarti image">
        <img src="../../../assets/diseños/futuredefinitivo.jpg" class="slide" alt="Future is now image">
        <img src="../../../assets/diseños/carti4prueba.jpg" class="slide" alt="PlayboiCarti image">
        <img src="../../../assets/diseños/roberto_verde_bosque2.jpg" class="slide" alt="Roberto tt image">
        <img src="../../../assets/diseños/carti5pruebah.jpg" class="slide" alt="PlayboiCarti image">
        <img src="../../../assets/diseños/teccaedl22.jpg" class="slide" alt="Lil tecca image">
        <img src="../../../assets/diseños/cartidefinitivo.jpg" class="slide" alt="PlayboiCarti image">
        <img src="../../../assets/diseños/leiti2ej.jpg" class="slide" alt="Leiti image">
        <img src="../../../assets/diseños/leitiejem.jpg" class="slide" alt="Leiti image">
        <img src="../../../assets/diseños/pablo_hernan_foto.jpg" class="slide" alt="Roberto tt image">
        <img src="../../../assets/diseños/roberto_verde_bosque2.jpg" class="slide" alt="Roberto tt image">
        <img src="../../../assets/diseños/samDavies_Mor.jpg" class="slide" alt="Sam Davies image">
        <img src="../../../assets/diseños/yaglockdisparo.jpg" class="slide" alt="Gloosito image">
        <img src="../../../assets/diseños/backroomdifinitiva.jpg" class="slide" alt="PlayboiCarti image">
    </div>
</div>
