
.slide{
    margin: 10px;
}

.slider {
    mar-top: 30px;
    background: white;
   
    
    margin: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #000;
}

.slider::before, .slider::after {
    background: linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100px;
    z-index: 2;
}

@media only screen and (max-width: 767px) {
    .slider::before, .slider::after {
        background: none;
    }
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 80s linear infinite;
    display: flex;
    width: calc(350px * 18);

}

.slider .slide-track:hover {
    animation-play-state: paused;
}

.slider .slide {
    height: 350px;
    width: 350px;
}


.slide:nth-child(1), .slide:nth-child(10) {
    background-color: yellow;
}

.slide:nth-child(2), .slide:nth-child(11) {
    background-color: coral;
}

.slide:nth-child(3), .slide:nth-child(12) {
    background-color: blue;
}

.slide:nth-child(4), .slide:nth-child(13) {
    background-color: red;
}

.slide:nth-child(5), .slide:nth-child(14) {
    background-color: orange;
}

.slide:nth-child(6), .slide:nth-child(15) {
    background-color: purple;
}

.slide:nth-child(7), .slide:nth-child(16) {
    background-color: pink;
}

.slide:nth-child(8), .slide:nth-child(17) {
    background-color: navy;
}

.slide:nth-child(9), .slide:nth-child(18) {
    background-color: lime;
}

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 9));
    }
}

@media only screen and (max-width: 767px) {
    .slider .slide {
        height: 300px;
        width: 300px;
    }

    .slider {
        margin: 0;
        padding: 0;
        
    }
}