.semi-circulo {
    width: 100px; 
    height: 50px; 
    border: 2px solid #555; 
    background: #5cb85c;
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 100px 100px 0 0;
}