<div #modal_mail class="modal-mail h-full w-full flex justify-center items-center fixed p-6 z-10">
  <div class=" h-full w-full backdrop-blur-md rounded-lg border-black/10 shadow-inner shadow-white/10 overflow-hidden">
    <div (click)="handlerModal('ocultar')" class="cursor-pointer rounded-lg backdrop-blur-md shadow-white/10 overflow-hiddenn text-white absolute z-10 toogleMobil m-3 bg-white/10">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="44" height="44"
           viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M18 6l-12 12" />
        <path d="M6 6l12 12" />
      </svg>
    </div>
  </div>
</div>
