.up-slider {
    width: 100vw;
    position: absolute;
    border: solid 2px white;
    z-index: 3;
    border-radius: 20px;
    top: 100vh;
  /*animation: totop linear both;
  animation-timeline: scroll();*/
}
.main-titulo{
    font-size: 8vw;
    z-index: 2;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 0.9;
}

.img-ed {

    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
}

.img-container {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 15% cover 25%;
}

.lista-info{
    margin: 0 15px 0 15px;
}

.loader{
  gap: 124px;
}

.img-container-skeleton{
  width: 25vw;
  height: auto;
  aspect-ratio: 1 / 1;
}

@media screen and (min-width: 740px) {
    .card {
      width: 35rem;
    }

}
@media screen and (max-width: 767px) {
  .loader{
    gap: 0;
  }

  .img-container-skeleton{
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
  }

}

@keyframes reveal {
    from {
        opacity: 0.8;
        transform: scale(.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}





@keyframes totop {
    from {
        top: 100vh;

    }

    to {
        top: 0;

    }
}

@keyframes totopMobile {
    from {
        top: 92vh;
    }

    to {
        top: 0;
    }
}

@media only screen and (max-width: 767px) {
    .up-slider {
        width: 100vw;
        position: absolute;
        border: solid 2px white;
        z-index: 3;
        border-radius: 20px;
        top: 76vh;
    }
    .sliders{
        margin-top: 10vh;
    }

    .lista-info{
        margin: 15px 0 15px 0;
    }
}

.swipe-txt {
    animation: float 6s ease-in-out infinite;
}

.avatar {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}
