.container-sidebar {
    position: fixed;
    z-index: 5;
    left: -610px
}

.sidebar{
  height: 98.5vh;
  width: 600px;
  gap: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.sideBar section {
  width: 100px;
  height: 100px;
}

.button-toogle {
    width: 75px;
    height: 75px;
}
.toogleMobil{
  display: none;
}

.svg-section {

}

.ig-svg {
  padding: 30px;
  margin-right: 10px;
}

.ubi-svg{
  padding: 30px;
  margin-left: 10px;
}

.ig-svg svg{

}

.ubi-svg svg{

}

.img-tool {
  width: 55px;
  height: 55px;
}

.pills-tools {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); /* Ajusta el valor de 100px al tamaño deseado */
  grid-auto-rows: 80px; /* Ajusta este valor al tamaño deseado */
  gap: 10px; /* Espacio entre celdas, opcional */
}

.blender-item {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 4px;
  background: white;
}

@media only screen and (max-width: 767px) {

  .toogleMobil{
    display: block;
    position: fixed;
  }

  .img-hover {
    display: none;
  }

  .container-sidebar {
    width: 100vw;
    left: -100vw;
  }

  .button-toogle {
    width: 40px;
    height: 40px;
    display: none;
  }

  .pill-work-text{
    font-size: 10px;
  }

}



/* BUTTON */
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fff;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.main {
  text-align: center;

}

.hamburger {
  position: relative;
  width: 70px;
  height: 70px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 20px;
  outline: 0;
  border-radius: 0;
  animation: hamburguer-transition linear both;
  animation-timeline: scroll(root);
  animation-range: 0 800px;


  /* BUTTON */
  html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #fff;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  .main {
    text-align: center;
  }



  .hamburger {
    position: relative;
    width: 70px;
    height: 70px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 20px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 20px;
      background: #000000;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      transform: rotate(0deg);
      transition: all 0.4s cubic-bezier(0.54, -0.10, 0.57, 0.57);
    }


    .hamburger-input {
      position: absolute;
      opacity: 0;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      cursor: pointer;
    }

    .hamburger-line {
      width: 100%;
      background: #fff;
      height: 2px;
      display: block;
      border-radius: 6px;
      transition: transform 0.4s cubic-bezier(0.54, -0.81, 0.57, 0.57);
      position: relative;

      &.first,
      &.third {
        width: 50%;
      }

      &.third {
        margin-left: 50%;
        transform-origin: left;
      }
    }
  }

  .menu-button-wrapper {
    position: relative;
    display: inline-block;

    .item-list {
      position: absolute;
      top: 90px;
      transform: translateX(-50%) scale(0);
      transform-origin: center;
      transition: all 0.4s cubic-bezier(0.54, -0.10, 0.57, 0.57);
      background-color: #303242;
      color: #fff;
      width: 200px;
      left: 50%;
      padding: 15px 0;
      text-align: left;
      border-radius: 100px;
      font-weight: 300;
      opacity: 0;
      user-select: none;

      div {
        padding: 10px 30px;
        cursor: pointer;
      }
    }

    .menu-button {
      position: absolute;
      width: 70px;
      height: 70px;
      left: 0;
      z-index: 2;
      opacity: 0;
      cursor: pointer;
    }
  }

  .menu-button {
    &:checked ~ .item-list {
      transform: translateX(-50%) scale(1);
      border-radius: 20px;
      opacity: 1;
      user-select: auto;
    }

    &:checked ~ .icon-wrapper .hamburger-line.second {
      transform: rotate(-45deg);
    }

    &:checked ~ .icon-wrapper .hamburger-line.first {
      transform: translate(2px, 8px) rotate(-135deg);
    }

    &:checked ~ .icon-wrapper .hamburger-line.third {
      transform: translate(11px, -3px) rotate(-135deg);
    }

    &:checked ~ .icon-wrapper .hamburger:before {
      transform: rotate(45deg);
    }
  }


  .hamburger-input {
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
  }

  .hamburger-line {
    width: 100%;
    background: #fff;
    height: 2px;
    display: block;
    border-radius: 6px;
    transition: transform 0.4s cubic-bezier(0.54, -0.81, 0.57, 0.57);
    position: relative;

    &.first,
    &.third {
      width: 50%;
    }

    &.third {
      margin-left: 50%;
      transform-origin: left;
    }
  }
}

.menu-button-wrapper {
  position: relative;
  display: inline-block;

  .item-list {
    position: absolute;
    top: 90px;
    transform: translateX(-50%) scale(0);
    transform-origin: center;
    transition: all 0.4s cubic-bezier(0.54, -0.10, 0.57, 0.57);
    background-color: #303242;
    color: #fff;
    width: 200px;
    left: 50%;
    padding: 15px 0;
    text-align: left;
    border-radius: 100px;
    font-weight: 300;
    opacity: 0;
    user-select: none;

    div {
      padding: 10px 30px;
      cursor: pointer;
    }
  }

  .menu-button {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }
}

.menu-button {
  &:checked ~ .item-list {
    transform: translateX(-50%) scale(1);
    border-radius: 20px;
    opacity: 1;
    user-select: auto;
  }

  &:checked ~ .icon-wrapper .hamburger-line.second {
    transform: rotate(-45deg);
  }

  &:checked ~ .icon-wrapper .hamburger-line.first {
    transform: translate(2px, 8px) rotate(-135deg);
  }

  &:checked ~ .icon-wrapper .hamburger-line.third {
    transform: translate(11px, -3px) rotate(-135deg);
  }

  &:checked ~ .icon-wrapper .hamburger:before {
    transform: rotate(45deg);
  }
}


@keyframes hamburguer-transition {
  to {
    border-radius: .5rem;
    background-color: rgb(0 0 0 / 0.4);
    --tw-backdrop-blur: blur(8px);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);

  }
}

