.container-sidebar {
    position: fixed;
    z-index: 5;
    // left: -31vw;
    left: -610px
}

.sidebar{
    height: 98.5vh;
    // width: 30vw;
  width: 600px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 16px;
  padding: 16px;

}

.txt-info {
}

.sideBar section {
  width: 100px;
  height: 100px;
}

.personal {
  grid-column: 1 / -1;
  grid-row: 1 / 5;
}

.media_1 {
  grid-row: 5 / 7;
}

.media_2 {
  grid-row: 5 / 7;
}

.contact {
  grid-column: 1 / -1;
  grid-row: 7 / 9;
}


.in-personal {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}


.in-personal .main-imagen {
  grid-column: 1 / 3;
}

.in-personal .about {
  grid-column: 3 / -1;
}

.in-personal .pills {
  grid-column: 1 / -1;
}

.in-personal .pills p {
  font-size: 1vh;
}

.button-toogle {
    width: 75px;
    height: 75px;
}
.toogleMobil{
  display: none;
}

.in-personal .tools svg , .in-personal .tools img{
  max-width: 30px;
  max-height: 30px;
  aspect-ratio: 1 / 1;
  transition: transform 0.2s ease;
}

.in-personal .tools svg:hover , .in-personal .tools img:hover{
  transform: scale(1.3);
}


@media only screen and (max-width: 767px) {

  .toogleMobil{
    display: block;
    position: fixed;
  }

  .img-hover {
    display: none;
  }

  .sidebar{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

  }

  .container-sidebar {
    width: 100vw;
    left: -100vw;
  }

  .personal {

  }
  .media_1 {
    grid-column: 1 / 4;
  }

  .media_2{
    grid-column: 4 / 7;
  }

  .contact{
    padding: 10px;
  }

  .in-personal {
    display: flex;
    flex-direction: column;
  }

  .in-personal .about {
    height: 100%;
  }


  .button-toogle {
    width: 40px;
    height: 40px;
    display: none;
  }

  .in-personal .pills {
    display: none;
  }

  .main-imagen {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .main-imagen img {
    max-width: 160px;
    border-radius: 50%;
    aspect-ratio: 1/1;
  }
}



.tooltip {
  text-decoration: none;
  position: relative;
}

.tooltip span {
  display: none;
}

.tooltip:hover span {
  display: block;
  position: fixed;
  overflow: hidden;
}



/* BUTTON */
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fff;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.main {
  text-align: center;

}

.hamburger {
  position: relative;
  width: 70px;
  height: 70px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 20px;

  /* BUTTON */
  html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #fff;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  .main {
    text-align: center;

  }

  .hamburger {
    position: relative;
    width: 70px;
    height: 70px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 20px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 20px;
      background: #000000;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      transform: rotate(0deg);
      transition: all 0.4s cubic-bezier(0.54, -0.10, 0.57, 0.57);
    }


    .hamburger-input {
      position: absolute;
      opacity: 0;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      cursor: pointer;
    }

    .hamburger-line {
      width: 100%;
      background: #fff;
      height: 2px;
      display: block;
      border-radius: 6px;
      transition: transform 0.4s cubic-bezier(0.54, -0.81, 0.57, 0.57);
      position: relative;

      &.first,
      &.third {
        width: 50%;
      }

      &.third {
        margin-left: 50%;
        transform-origin: left;
      }
    }
  }

  .menu-button-wrapper {
    position: relative;
    display: inline-block;

    .item-list {
      position: absolute;
      top: 90px;
      transform: translateX(-50%) scale(0);
      transform-origin: center;
      transition: all 0.4s cubic-bezier(0.54, -0.10, 0.57, 0.57);
      background-color: #303242;
      color: #fff;
      width: 200px;
      left: 50%;
      padding: 15px 0;
      text-align: left;
      border-radius: 100px;
      font-weight: 300;
      opacity: 0;
      user-select: none;

      div {
        padding: 10px 30px;
        cursor: pointer;
      }
    }

    .menu-button {
      position: absolute;
      width: 70px;
      height: 70px;
      left: 0;
      z-index: 2;
      opacity: 0;
      cursor: pointer;
    }
  }

  .menu-button {
    &:checked ~ .item-list {
      transform: translateX(-50%) scale(1);
      border-radius: 20px;
      opacity: 1;
      user-select: auto;
    }

    &:checked ~ .icon-wrapper .hamburger-line.second {
      transform: rotate(-45deg);
    }

    &:checked ~ .icon-wrapper .hamburger-line.first {
      transform: translate(2px, 8px) rotate(-135deg);
    }

    &:checked ~ .icon-wrapper .hamburger-line.third {
      transform: translate(11px, -3px) rotate(-135deg);
    }

    &:checked ~ .icon-wrapper .hamburger:before {
      transform: rotate(45deg);
    }
  }


  .hamburger-input {
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
  }

  .hamburger-line {
    width: 100%;
    background: #fff;
    height: 2px;
    display: block;
    border-radius: 6px;
    transition: transform 0.4s cubic-bezier(0.54, -0.81, 0.57, 0.57);
    position: relative;

    &.first,
    &.third {
      width: 50%;
    }

    &.third {
      margin-left: 50%;
      transform-origin: left;
    }
  }
}

.menu-button-wrapper {
  position: relative;
  display: inline-block;

  .item-list {
    position: absolute;
    top: 90px;
    transform: translateX(-50%) scale(0);
    transform-origin: center;
    transition: all 0.4s cubic-bezier(0.54, -0.10, 0.57, 0.57);
    background-color: #303242;
    color: #fff;
    width: 200px;
    left: 50%;
    padding: 15px 0;
    text-align: left;
    border-radius: 100px;
    font-weight: 300;
    opacity: 0;
    user-select: none;

    div {
      padding: 10px 30px;
      cursor: pointer;
    }
  }

  .menu-button {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }
}

.menu-button {
  &:checked ~ .item-list {
    transform: translateX(-50%) scale(1);
    border-radius: 20px;
    opacity: 1;
    user-select: auto;
  }

  &:checked ~ .icon-wrapper .hamburger-line.second {
    transform: rotate(-45deg);
  }

  &:checked ~ .icon-wrapper .hamburger-line.first {
    transform: translate(2px, 8px) rotate(-135deg);
  }

  &:checked ~ .icon-wrapper .hamburger-line.third {
    transform: translate(11px, -3px) rotate(-135deg);
  }

  &:checked ~ .icon-wrapper .hamburger:before {
    transform: rotate(45deg);
  }
}

