<div>

    <section class="fixed">
        <section class="titulo flex flex-col justify-center items-center fixed w-full z-10">
            <p class="main-titulo absolute font-semibold">ESCRIBA DESIGNS</p>
            <p class="subtitulo relative font-semibold">2024</p>
        </section>

        <section class="sliders">
            <app-slider-left></app-slider-left>
            <app-slider-right></app-slider-right>
        </section>
        
    </section>
    
</div>

<app-galeria-scroll></app-galeria-scroll>


