<div class="pagina">

    <section class="fixed">
        <section #titulo class="titulo flex flex-col justify-center items-center fixed w-full z-50">
            <p class="main-titulo absolute font-semibold z-50">ESCRIBA DESIGNS</p>
            <p class="subtitulo relative font-semibold z-50">2024</p>
        </section>

        <section class="sliders">
            <app-slider-left></app-slider-left>
            <app-slider-right></app-slider-right>
        </section>
    </section>

  <app-galeria-scroll></app-galeria-scroll>

  <app-modal-mail></app-modal-mail>

</div>




