<div class="slider">
    <div class="slide-track">
        <img src="../../../assets/diseños/backroomdifinitiva.png" class="slide">
        <img src="../../../assets/diseños/bueno.png" class="slide">
        <img src="../../../assets/diseños/carti2prueba.png" class="slide">
        <img src="../../../assets/diseños/feid_paris.jpg" class="slide">
        <img src="../../../assets/diseños/carti3prueba.png" class="slide">
        <img src="../../../assets/diseños/futuredefinitivo.png" class="slide">
        <img src="../../../assets/diseños/carti4prueba.png" class="slide">
        <img src="../../../assets/diseños/roberto_verde_bosque2.jpg" class="slide">
        <img src="../../../assets/diseños/carti5pruebah.png" class="slide">
        <img src="../../../assets/diseños/teccaedl22.png" class="slide">
        <img src="../../../assets/diseños/cartidefinitivo.png" class="slide">
        <img src="../../../assets/diseños/leiti2ej.jpg" class="slide">
        <img src="../../../assets/diseños/leitiejem.jpg" class="slide">
        <img src="../../../assets/diseños/pablo_hernan_foto.jpg" class="slide">
        <img src="../../../assets/diseños/roberto_verde_bosque2.jpg" class="slide">
        <img src="../../../assets/diseños/samDavies_Mor.jpg" class="slide">
        <img src="../../../assets/diseños/yaglockdisparo.png" class="slide">
        <img src="../../../assets/diseños/backroomdifinitiva.png" class="slide">
    </div>
</div>
